* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.71;
  font-style: normal;
  font-stretch: normal;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

.container {
  width: 940px;
  margin: auto;
}

.popup,
.map {
  display: none;
}

/* fonts */

.nav__link,
.login {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
}

.features__title,
.news__title,
.gallery__title,
.contact__title,
.appointment__title,
.popup__title,
.breadcrumbs__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.4;
}

.filter__legend,
.product__kit-title,
.offer__products-title,
.offer__pricelist-title,
.offer__about-us-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
}

.offer__title-text {
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
}

/* index */

.header {
  position: relative;
  background-color: #000000;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: inline-block;
  width: 544px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__item {
  list-style-type: none;
}

.nav__link,
.login {
  display: block;
  padding: 26px 20px 26px 20px;
  color: #ffffff;
}

.login {
  position: relative;
}

.login::before {
  position: absolute;
  left: -11px;
  top: 28px;
  content: url(../img/login.png);
  opacity: 0.3;
}

.index-main {
  background-image: url(../img/index-background.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #000000;
  padding-bottom: 65px;
}

.index-logo {
  padding-top: 60px;
  text-align: center;
}

.features__wrapper {
  display: flex;
}

.features {
  padding-top: 63px;
  padding-bottom: 80px;
}

.features__item {
  position: relative;
  text-align: center;
}

.features__item:first-child {
  margin-left: 26px;
}

.features__item:nth-child(2) {
  margin-left: 66px;
}

.features__item:nth-child(3) {
  margin-left: 53px;
}

.features__item::before {
  position: absolute;
  top: 53px;
  display: inline-block;
  content: '';
  padding: 10px 10px;
  background-color: #ffffff;
  vertical-align: middle;
  transform: rotate(45deg);
}

.features__item:first-child::before {
  left: 113px;
}

.features__item:nth-child(2)::before {
  left: 122px;
}

.features__item:nth-child(3)::before {
  left: 126px;
}

.features__title,
.features__text {
  color: #ffffff;
}
.features__text {
  padding-top: 60px;
}

.promo,
.feedback {
  background-image: url(../img/texture-section.jpeg);
  background-repeat: repeat;
}

.promo__wrapper {
  display: flex;
  padding-top: 46px;
  padding-bottom: 49px;
}

.news {
  position: relative;
  width: 389px;
  margin-left: 81px;
}

.news::before,
.contact-info::before {
  position: absolute;
  bottom: 7%;
  left: 99%;
  content: url(../img/vertical-line.png);
}

.news__title {
  margin-bottom: 20px;
}

.news__item {
  width: 350px;
  padding-bottom: 24px;
}

.news__month {
  font-size: 12px;
}

.news__button {
  display: inline-block;
  margin-top: 8px;
  vertical-align: middle;
}

.button {
  display: inline-block;
  width: 140px;
  padding: 11px 0;   
  text-align: center;
  font-weight: 700; 
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
}

.gallery {
  margin-left: 90px;
}

.gallery__title {
  margin-bottom: 21px;
}

.slider__img {
  border: 7px solid #ffffff;
}

.slider__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 31px;
}

.feedback {
  margin-top: 36px;
}

.feedback__wrapper {
  display: flex;
  padding-top: 45px;
  padding-bottom: 50px;
}

.contact-info {
  position: relative;
  width: 390px;
  margin-left: 80px;
}

.address {
  margin-top: 19px;
}

.address__org-name,
.work-time__title {
  font-size: 14px;
}

.address__text {
  font-size: 14.3px;
  font-style: normal;
}

.address__tel {
  color: #000000;
}

.work-time {
  margin-top: 23px;
  margin-bottom: 25px;
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.appointment {
  width: 380px;
  margin-left: 90px;
}

.appointment__data {
  margin-top: 19px;
}

.appointment__text {
  width: 295px;
}

.appointment__form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 300px;
  margin-top: 14px;
}

.appointment__label {
  display: block;
  margin-left: 16px;
}

.appointment__input {
  width: 106px;
  margin-top: 7px;
  padding: 11.5px 15px;
  border: 2px solid #000000;
}

.appointment__item:nth-child(3),
.appointment__item:nth-child(4) {
  margin-top: 10px;
}

.appointment__input::placeholder {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.7);
}

.appointment__button {
  margin-top: 19px;
  width: 300px;
  padding: 14px 0;
  border: none;
}

.footer {
  background-image: url(../img/texture-footer.jpeg);
  background-repeat: repeat;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 59px;
  padding-bottom: 43px;
}

.address--white {
  margin-top: 0;
}

.address--white,
.address__popup-button,
.address__tel--white,
.social__title {
  color: #ffffff;
}

.address__popup-button {
  display: block;
  text-decoration: underline;
}

.social {
  margin-right: 166px;
}

.social__title,
.developer__text {
  text-align: center;
}

.social__list {
  display: flex;
  justify-content: space-between;
  width: 141px;
  margin-top: 36px;
  font-size: 0;
}

.social__item {
  list-style-type: none;
}

.social__link {
  position: relative;
  padding: 21.5px;
  background-color: #000000;
}

.social__link::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
}

.social__link--vk::before {
  background-image: url(../img/vk.png);
}

.social__link--facebook::before {
  background-image: url(../img/facebook.png);
}

.social__link--instagram::before {
  background-image: url(../img/instagram.png);
}

.developer__text {
  color: #ffffff;
}

.developer__button {
  margin-top: 15px;
}

/* catalog */

.catalog-nav__wrapper {
  display: flex;
  align-items: center;
}

.catalog-logo__link {
  padding: 24px 20px 24px 20px;
  line-height: 0;
}

.catalog-main {
  background-image: url(../img/texture-section.jpeg);
  background-repeat: repeat;
}

.breadcrumbs {
  padding-top: 50px;
  padding-bottom: 53px;
}

.breadcrumbs__list {
  display: flex;
  margin-top: 15px;
}

.breadcrumbs__item {
  position: relative;
  list-style-type: none;
}

.breadcrumbs__item:not(:first-child)::before {
  position: absolute;
  top: 7px;
  left: -24px;
  display: inline-block;
  content: '';
  padding: 4px 4px;
  background-color: #000000;
  transform: rotate(45deg);
}

.breadcrumbs__item:not(:first-child) {
  margin-left: 40px;
}

.breadcrumbs__item:last-child {
  margin-left: 45px;
}

.breadcrumbs__link {
  color: #000000;
}

.catalog__wrapper {
  display: flex;
  justify-content: space-between;
}

.filter {
  width: 230px;
}

.filter__fieldset {
  padding: 0;
  border: none;
}

.filter__fieldset:nth-child(2) {
  margin-top: 53px;
}

.filter__legend {
  line-height: 0.8;
}

.filter__list {
  margin-top: 31px;
}

.filter__item {
  list-style-type: none;
}

.filter__item:not(:last-child) {
  margin-bottom: 14px;
}

.filter__input {
  display: none;
}

.filter__checkbox-icon {
  padding: 0px 10px 2px 10px;
  margin-right: 24px;
  box-shadow: inset 0 0 0 2px black;
}

.filter__radio-icon {
  padding: 0px 10px 2px 10px;
  margin-right: 24px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px black;
}

.filter__submit-button {
  width: 112px;
  margin-top: 67px;
  padding: 13.5px 0;
  border: none;
  font-size: 13;
}

.cards {
  width: 700px;
}

.cards__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cards__item {
  width: 220px;
  height: 286px;
  margin-bottom: 20px;
  list-style-type: none;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);
}

.card__product-link {
  display: block;
  margin: 6px 17px 12px;
}

.cards__product-type ,
.cards__product-brand  {
  display: block;
  color: #000000;
  line-height: 1.29;
}

.cards__product-type {
  text-transform: initial;
}

.cards__product-brand {
  text-transform: uppercase;
}

.buy--center {
  text-align: center;
}

.buy__price {
  display: inline-block;
  width: 109px;
  padding: 11px 0px;
  text-align: center;
  background-color: rgba(0, 1, 1, 0.2);
}

.buy__button {
  width: 78px;
}

.cards__pages-list {
  display: flex;
  padding-top: 25px;
  padding-bottom: 49px;
}

.cards__pages-item {
  list-style-type: none;
}

.cards__pages-item:not(:first-child) {
  margin-left: 7px;
}

.cards__pages-link {
  display: block;
  width: 43px;
  padding: 10px 0px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}

.cards__pages-link--active {
  background-color: #ffffff;
  color: #000000;
}

/* pricelist */

.pricelist__wrapper {
  background-image: url(../img/texture-section.jpeg);
  background-repeat: repeat;
}

.offer__title {
  text-align: center;
}

.offer__title-text {
  position: relative;
  line-height: 0.7;
}

.offer__title-text::before {
  position: absolute;
  top: 19px;
  left: 0; 
  display: inline-block;
  width: 158px;
  content: '';
  padding: 1px;
  background-color: #000000;
}

.offer__title-text::after {
  position: absolute;
  top: 19px;
  left: 83%;
  display: inline-block;
  width: 158px;
  content: '';
  padding: 1px;
  background-color: #000000;
}

.offer__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 72px;
  padding-bottom: 44px;
}

.offer__products-wrapper {
  width: 300px;
}

.offer__products-list {
  margin-top: 27px;
}

.offer__product-item {
  margin-bottom: 14px;
  list-style-type: none;
}

.offer__product-name {
  position: relative;
  margin-left: 21px;
}

.offer__product-name::before {
  position: absolute;
  top: 7px;
  left: -19px;
  display: inline-block;
  content: '';
  padding: 4px 4px;
  background-color: #000000;
  transform: rotate(45deg);
}

.offer__pricelist {
  border-collapse: collapse;
}

.offer__pricelist-title {
  width: 200px;
  margin-bottom: 33px;
  text-align: start;
}

.offer__type,
.offer__price {
  width: 227px;
  padding: 8px 0px;
  border: 2px solid black;
}

.offer__type {
  text-align: start;
}

.offer__type-text {
  margin-left: 17px;
}

.offer__price {
  text-align: center;
}

.offer__about-us {
  padding-bottom: 80px;
}

.offer__about-us-wrapper {
  display: flex;
  margin-top: 29px;
}

.offer__about-us-text {
  width: 385px;
}

.offer__about-us-text:nth-child(2) {
  margin-left: 96px;
}

/* product */

.product__wrapper {
  background-image: url(../img/texture-section.jpeg);
  background-repeat: repeat;
}

.product {
  display: flex;
  justify-content: space-between;
  width: 940px;
  padding-bottom: 42px;
}

.product__photos {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  width: 460px;
}

.product__photo {
  list-style-type: none;
}

.product__photo--big {
  margin-bottom: 15px;
}

.product__photo--small:not(:nth-child(4)) {
  margin-right: 20px;
}

.product__img {
  box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);
}

.product__availability-wrapper {
  display: flex;
  justify-content: space-between;
  width: 380px;
}

.product__article {
  color: #aeaeae;
}

.product__description {
  width: 390px;
  margin-top: 21px;
}

.product__description-text {
  margin-top: 30px;
}

.buy--left {
  margin-top: 40px;
}

.product__kit-title {
  margin-top: 61px;
}

.product__kit-list {
  margin-top: 28px;
}

.product__kit-item {
  list-style-type: none;
}

.product__kit-description {
  position: relative;
  margin-left: 21px;
}

.product__kit-description::before {
  position: absolute;
  top: 7px;
  left: -19px;
  display: inline-block;
  content: '';
  padding: 4px 4px;
  background-color: #000000;
  transform: rotate(45deg);
}

/* popup */

.popup {
  position: absolute;
  top: 12%;
  left: 50%;
  width: 460px;
  margin-left: -230px;
  background: url(../img/texture-section.jpeg);
  background-repeat: repeat;
  box-shadow: 0px 30px 50px 0 rgba(0, 1, 1, 0.75);
}

.popup__form {
  width: 300px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 58px;
}

.popup__fieldset {
  border: none;
  margin-top: 16px;
  padding: 0;
}

.popup__input {
  width: 281px;
  padding: 12px 0px 11px 15px;
  border: 2px solid #000000;
}

.popup__input:nth-child(2) {
  margin-top: 11px;
  background: url(../img/user.png) 270px 13px no-repeat, url(../img/texture-section.jpeg) repeat;
}

.popup__input:nth-child(3) {
  margin-top: 9px;
  background: url(../img/lock.png) 270px 13px no-repeat, url(../img/texture-section.jpeg) repeat;
}

.popup__input::placeholder {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
}

.popup__checkbox-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.popup__checkbox {
  display: none;
}

.popup__checkbox-icon {
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
  vertical-align: sub;
  box-shadow: inset 0 0 0 2px black;
}

.popup__recover {
  text-decoration: underline;
  color: #000000;
}

.popup__button {
  width: 300px;
  margin-top: 14px;
  padding: 14px 0;
  border: none;
}

.popup__close {
  position: absolute;
  top: 13px;
  right: -32px;
  padding: 10px;
  background-image: url(../img/close-cross.png);
  background-repeat: no-repeat;
}

/* map */

.map {
  position: absolute;
  top: 61%;
  left: 50%;
  margin-left: -390px;
  
}

.map__iframe {
  border: 7px solid #ffffff;
  background-color: #000000;
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  box-shadow: 0px 30px 50px 0 rgba(0, 1, 1, 0.75);
}

.map__close {
  position: absolute;
  top: 13px;
  right: -32px;
  padding: 10px;
  background-image: url(../img/close-cross.png);
  background-repeat: no-repeat;
}